dash==2.11.0
Flask==2.3.2
flask_cors==3.0.10
matplotlib==3.7.1
numpy==1.25.0
pandas==2.0.2
pdfplumber==0.9.0
Pillow==9.5.0
plotly==5.15.0
pymongo==4.4.0
radiomics==0.1
scipy==1.10.1
seaborn==0.12.2
selenium==4.10.0
SimpleITK==2.2.1
skimage==0.0
